@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,900,300italic,600italic,900italic");

/*
	Vortex by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0 0 0 0rem;
	}

	.row.\30 \25 {
		margin: 0 0 -1px 0rem;
	}

	.row.uniform.\30 \25 > * {
		padding: 0rem 0 0 0rem;
	}

	.row.uniform.\30 \25 {
		margin: 0rem 0 -1px 0rem;
	}

	.row > * {
		padding: 0 0 0 1.5rem;
	}

	.row {
		margin: 0 0 -1px -1.5rem;
	}

	.row.uniform > * {
		padding: 1.5rem 0 0 1.5rem;
	}

	.row.uniform {
		margin: -1.5rem 0 -1px -1.5rem;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 3rem;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -3rem;
	}

	.row.uniform.\32 00\25 > * {
		padding: 3rem 0 0 3rem;
	}

	.row.uniform.\32 00\25 {
		margin: -3rem 0 -1px -3rem;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 2.25rem;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -2.25rem;
	}

	.row.uniform.\31 50\25 > * {
		padding: 2.25rem 0 0 2.25rem;
	}

	.row.uniform.\31 50\25 {
		margin: -2.25rem 0 -1px -2.25rem;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 0.75rem;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -0.75rem;
	}

	.row.uniform.\35 0\25 > * {
		padding: 0.75rem 0 0 0.75rem;
	}

	.row.uniform.\35 0\25 {
		margin: -0.75rem 0 -1px -0.75rem;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 0.375rem;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -0.375rem;
	}

	.row.uniform.\32 5\25 > * {
		padding: 0.375rem 0 0 0.375rem;
	}

	.row.uniform.\32 5\25 {
		margin: -0.375rem 0 -1px -0.375rem;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (max-width: 1680px) {

		.row > * {
			padding: 0 0 0 1.5rem;
		}

		.row {
			margin: 0 0 -1px -1.5rem;
		}

		.row.uniform > * {
			padding: 1.5rem 0 0 1.5rem;
		}

		.row.uniform {
			margin: -1.5rem 0 -1px -1.5rem;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 3rem;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -3rem;
		}

		.row.uniform.\32 00\25 > * {
			padding: 3rem 0 0 3rem;
		}

		.row.uniform.\32 00\25 {
			margin: -3rem 0 -1px -3rem;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 2.25rem;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -2.25rem;
		}

		.row.uniform.\31 50\25 > * {
			padding: 2.25rem 0 0 2.25rem;
		}

		.row.uniform.\31 50\25 {
			margin: -2.25rem 0 -1px -2.25rem;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.75rem;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.75rem;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.75rem 0 0 0.75rem;
		}

		.row.uniform.\35 0\25 {
			margin: -0.75rem 0 -1px -0.75rem;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.375rem;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.375rem;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.375rem 0 0 0.375rem;
		}

		.row.uniform.\32 5\25 {
			margin: -0.375rem 0 -1px -0.375rem;
		}

		.\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xlarge\29 + *,
		.\31 1u\24\28xlarge\29 + *,
		.\31 0u\24\28xlarge\29 + *,
		.\39 u\24\28xlarge\29 + *,
		.\38 u\24\28xlarge\29 + *,
		.\37 u\24\28xlarge\29 + *,
		.\36 u\24\28xlarge\29 + *,
		.\35 u\24\28xlarge\29 + *,
		.\34 u\24\28xlarge\29 + *,
		.\33 u\24\28xlarge\29 + *,
		.\32 u\24\28xlarge\29 + *,
		.\31 u\24\28xlarge\29 + * {
			clear: left;
		}

		.\-11u\28xlarge\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xlarge\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xlarge\29 {
			margin-left: 75%;
		}

		.\-8u\28xlarge\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xlarge\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xlarge\29 {
			margin-left: 50%;
		}

		.\-5u\28xlarge\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xlarge\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xlarge\29 {
			margin-left: 25%;
		}

		.\-2u\28xlarge\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xlarge\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 1280px) {

		.row > * {
			padding: 0 0 0 1.5rem;
		}

		.row {
			margin: 0 0 -1px -1.5rem;
		}

		.row.uniform > * {
			padding: 1.5rem 0 0 1.5rem;
		}

		.row.uniform {
			margin: -1.5rem 0 -1px -1.5rem;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 3rem;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -3rem;
		}

		.row.uniform.\32 00\25 > * {
			padding: 3rem 0 0 3rem;
		}

		.row.uniform.\32 00\25 {
			margin: -3rem 0 -1px -3rem;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 2.25rem;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -2.25rem;
		}

		.row.uniform.\31 50\25 > * {
			padding: 2.25rem 0 0 2.25rem;
		}

		.row.uniform.\31 50\25 {
			margin: -2.25rem 0 -1px -2.25rem;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.75rem;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.75rem;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.75rem 0 0 0.75rem;
		}

		.row.uniform.\35 0\25 {
			margin: -0.75rem 0 -1px -0.75rem;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.375rem;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.375rem;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.375rem 0 0 0.375rem;
		}

		.row.uniform.\32 5\25 {
			margin: -0.375rem 0 -1px -0.375rem;
		}

		.\31 2u\28large\29, .\31 2u\24\28large\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28large\29, .\31 1u\24\28large\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28large\29, .\31 0u\24\28large\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28large\29, .\39 u\24\28large\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28large\29, .\38 u\24\28large\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28large\29, .\37 u\24\28large\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28large\29, .\36 u\24\28large\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28large\29, .\35 u\24\28large\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28large\29, .\34 u\24\28large\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28large\29, .\33 u\24\28large\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28large\29, .\32 u\24\28large\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28large\29, .\31 u\24\28large\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28large\29 + *,
		.\31 1u\24\28large\29 + *,
		.\31 0u\24\28large\29 + *,
		.\39 u\24\28large\29 + *,
		.\38 u\24\28large\29 + *,
		.\37 u\24\28large\29 + *,
		.\36 u\24\28large\29 + *,
		.\35 u\24\28large\29 + *,
		.\34 u\24\28large\29 + *,
		.\33 u\24\28large\29 + *,
		.\32 u\24\28large\29 + *,
		.\31 u\24\28large\29 + * {
			clear: left;
		}

		.\-11u\28large\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28large\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28large\29 {
			margin-left: 75%;
		}

		.\-8u\28large\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28large\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28large\29 {
			margin-left: 50%;
		}

		.\-5u\28large\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28large\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28large\29 {
			margin-left: 25%;
		}

		.\-2u\28large\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28large\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 980px) {

		.row > * {
			padding: 0 0 0 1.5rem;
		}

		.row {
			margin: 0 0 -1px -1.5rem;
		}

		.row.uniform > * {
			padding: 1.5rem 0 0 1.5rem;
		}

		.row.uniform {
			margin: -1.5rem 0 -1px -1.5rem;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 3rem;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -3rem;
		}

		.row.uniform.\32 00\25 > * {
			padding: 3rem 0 0 3rem;
		}

		.row.uniform.\32 00\25 {
			margin: -3rem 0 -1px -3rem;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 2.25rem;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -2.25rem;
		}

		.row.uniform.\31 50\25 > * {
			padding: 2.25rem 0 0 2.25rem;
		}

		.row.uniform.\31 50\25 {
			margin: -2.25rem 0 -1px -2.25rem;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.75rem;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.75rem;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.75rem 0 0 0.75rem;
		}

		.row.uniform.\35 0\25 {
			margin: -0.75rem 0 -1px -0.75rem;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.375rem;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.375rem;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.375rem 0 0 0.375rem;
		}

		.row.uniform.\32 5\25 {
			margin: -0.375rem 0 -1px -0.375rem;
		}

		.\31 2u\28medium\29, .\31 2u\24\28medium\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28medium\29, .\31 1u\24\28medium\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28medium\29, .\31 0u\24\28medium\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28medium\29, .\39 u\24\28medium\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28medium\29, .\38 u\24\28medium\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28medium\29, .\37 u\24\28medium\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28medium\29, .\36 u\24\28medium\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28medium\29, .\35 u\24\28medium\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28medium\29, .\34 u\24\28medium\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28medium\29, .\33 u\24\28medium\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28medium\29, .\32 u\24\28medium\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28medium\29, .\31 u\24\28medium\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28medium\29 + *,
		.\31 1u\24\28medium\29 + *,
		.\31 0u\24\28medium\29 + *,
		.\39 u\24\28medium\29 + *,
		.\38 u\24\28medium\29 + *,
		.\37 u\24\28medium\29 + *,
		.\36 u\24\28medium\29 + *,
		.\35 u\24\28medium\29 + *,
		.\34 u\24\28medium\29 + *,
		.\33 u\24\28medium\29 + *,
		.\32 u\24\28medium\29 + *,
		.\31 u\24\28medium\29 + * {
			clear: left;
		}

		.\-11u\28medium\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28medium\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28medium\29 {
			margin-left: 75%;
		}

		.\-8u\28medium\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28medium\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28medium\29 {
			margin-left: 50%;
		}

		.\-5u\28medium\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28medium\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28medium\29 {
			margin-left: 25%;
		}

		.\-2u\28medium\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28medium\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.row > * {
			padding: 0 0 0 1.5rem;
		}

		.row {
			margin: 0 0 -1px -1.5rem;
		}

		.row.uniform > * {
			padding: 1.5rem 0 0 1.5rem;
		}

		.row.uniform {
			margin: -1.5rem 0 -1px -1.5rem;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 3rem;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -3rem;
		}

		.row.uniform.\32 00\25 > * {
			padding: 3rem 0 0 3rem;
		}

		.row.uniform.\32 00\25 {
			margin: -3rem 0 -1px -3rem;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 2.25rem;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -2.25rem;
		}

		.row.uniform.\31 50\25 > * {
			padding: 2.25rem 0 0 2.25rem;
		}

		.row.uniform.\31 50\25 {
			margin: -2.25rem 0 -1px -2.25rem;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.75rem;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.75rem;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.75rem 0 0 0.75rem;
		}

		.row.uniform.\35 0\25 {
			margin: -0.75rem 0 -1px -0.75rem;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.375rem;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.375rem;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.375rem 0 0 0.375rem;
		}

		.row.uniform.\32 5\25 {
			margin: -0.375rem 0 -1px -0.375rem;
		}

		.\31 2u\28small\29, .\31 2u\24\28small\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28small\29, .\31 1u\24\28small\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28small\29, .\31 0u\24\28small\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28small\29, .\39 u\24\28small\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28small\29, .\38 u\24\28small\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28small\29, .\37 u\24\28small\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28small\29, .\36 u\24\28small\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28small\29, .\35 u\24\28small\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28small\29, .\34 u\24\28small\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28small\29, .\33 u\24\28small\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28small\29, .\32 u\24\28small\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28small\29, .\31 u\24\28small\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28small\29 + *,
		.\31 1u\24\28small\29 + *,
		.\31 0u\24\28small\29 + *,
		.\39 u\24\28small\29 + *,
		.\38 u\24\28small\29 + *,
		.\37 u\24\28small\29 + *,
		.\36 u\24\28small\29 + *,
		.\35 u\24\28small\29 + *,
		.\34 u\24\28small\29 + *,
		.\33 u\24\28small\29 + *,
		.\32 u\24\28small\29 + *,
		.\31 u\24\28small\29 + * {
			clear: left;
		}

		.\-11u\28small\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28small\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28small\29 {
			margin-left: 75%;
		}

		.\-8u\28small\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28small\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28small\29 {
			margin-left: 50%;
		}

		.\-5u\28small\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28small\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28small\29 {
			margin-left: 25%;
		}

		.\-2u\28small\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28small\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 480px) {

		.row > * {
			padding: 0 0 0 1.5rem;
		}

		.row {
			margin: 0 0 -1px -1.5rem;
		}

		.row.uniform > * {
			padding: 1.5rem 0 0 1.5rem;
		}

		.row.uniform {
			margin: -1.5rem 0 -1px -1.5rem;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 3rem;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -3rem;
		}

		.row.uniform.\32 00\25 > * {
			padding: 3rem 0 0 3rem;
		}

		.row.uniform.\32 00\25 {
			margin: -3rem 0 -1px -3rem;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 2.25rem;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -2.25rem;
		}

		.row.uniform.\31 50\25 > * {
			padding: 2.25rem 0 0 2.25rem;
		}

		.row.uniform.\31 50\25 {
			margin: -2.25rem 0 -1px -2.25rem;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.75rem;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.75rem;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.75rem 0 0 0.75rem;
		}

		.row.uniform.\35 0\25 {
			margin: -0.75rem 0 -1px -0.75rem;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.375rem;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.375rem;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.375rem 0 0 0.375rem;
		}

		.row.uniform.\32 5\25 {
			margin: -0.375rem 0 -1px -0.375rem;
		}

		.\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xsmall\29 + *,
		.\31 1u\24\28xsmall\29 + *,
		.\31 0u\24\28xsmall\29 + *,
		.\39 u\24\28xsmall\29 + *,
		.\38 u\24\28xsmall\29 + *,
		.\37 u\24\28xsmall\29 + *,
		.\36 u\24\28xsmall\29 + *,
		.\35 u\24\28xsmall\29 + *,
		.\34 u\24\28xsmall\29 + *,
		.\33 u\24\28xsmall\29 + *,
		.\32 u\24\28xsmall\29 + *,
		.\31 u\24\28xsmall\29 + * {
			clear: left;
		}

		.\-11u\28xsmall\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xsmall\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xsmall\29 {
			margin-left: 75%;
		}

		.\-8u\28xsmall\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xsmall\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xsmall\29 {
			margin-left: 50%;
		}

		.\-5u\28xsmall\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xsmall\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xsmall\29 {
			margin-left: 25%;
		}

		.\-2u\28xsmall\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xsmall\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 360px) {

		.row > * {
			padding: 0 0 0 1.5rem;
		}

		.row {
			margin: 0 0 -1px -1.5rem;
		}

		.row.uniform > * {
			padding: 1.5rem 0 0 1.5rem;
		}

		.row.uniform {
			margin: -1.5rem 0 -1px -1.5rem;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 3rem;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -3rem;
		}

		.row.uniform.\32 00\25 > * {
			padding: 3rem 0 0 3rem;
		}

		.row.uniform.\32 00\25 {
			margin: -3rem 0 -1px -3rem;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 2.25rem;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -2.25rem;
		}

		.row.uniform.\31 50\25 > * {
			padding: 2.25rem 0 0 2.25rem;
		}

		.row.uniform.\31 50\25 {
			margin: -2.25rem 0 -1px -2.25rem;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.75rem;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.75rem;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.75rem 0 0 0.75rem;
		}

		.row.uniform.\35 0\25 {
			margin: -0.75rem 0 -1px -0.75rem;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.375rem;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.375rem;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.375rem 0 0 0.375rem;
		}

		.row.uniform.\32 5\25 {
			margin: -0.375rem 0 -1px -0.375rem;
		}

		.\31 2u\28xxsmall\29, .\31 2u\24\28xxsmall\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xxsmall\29, .\31 1u\24\28xxsmall\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xxsmall\29, .\31 0u\24\28xxsmall\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xxsmall\29, .\39 u\24\28xxsmall\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xxsmall\29, .\38 u\24\28xxsmall\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xxsmall\29, .\37 u\24\28xxsmall\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xxsmall\29, .\36 u\24\28xxsmall\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xxsmall\29, .\35 u\24\28xxsmall\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xxsmall\29, .\34 u\24\28xxsmall\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xxsmall\29, .\33 u\24\28xxsmall\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xxsmall\29, .\32 u\24\28xxsmall\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xxsmall\29, .\31 u\24\28xxsmall\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xxsmall\29 + *,
		.\31 1u\24\28xxsmall\29 + *,
		.\31 0u\24\28xxsmall\29 + *,
		.\39 u\24\28xxsmall\29 + *,
		.\38 u\24\28xxsmall\29 + *,
		.\37 u\24\28xxsmall\29 + *,
		.\36 u\24\28xxsmall\29 + *,
		.\35 u\24\28xxsmall\29 + *,
		.\34 u\24\28xxsmall\29 + *,
		.\33 u\24\28xxsmall\29 + *,
		.\32 u\24\28xxsmall\29 + *,
		.\31 u\24\28xxsmall\29 + * {
			clear: left;
		}

		.\-11u\28xxsmall\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xxsmall\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xxsmall\29 {
			margin-left: 75%;
		}

		.\-8u\28xxsmall\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xxsmall\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xxsmall\29 {
			margin-left: 50%;
		}

		.\-5u\28xxsmall\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xxsmall\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xxsmall\29 {
			margin-left: 25%;
		}

		.\-2u\28xxsmall\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xxsmall\29 {
			margin-left: 8.33333%;
		}

	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background-color: #f2f5fa;
		background-image: url("../../images/overlay.png"), url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='100' viewBox='0 0 200 100' preserveAspectRatio='none'%3E%3Cdefs%3E%3CradialGradient id='rg1' cx='0%25' cy='0%25' r='100%25' fx='0%25' fy='0%25'%3E%3Cstop offset='0%25' style='stop-color: %2371aca0%3B stop-opacity: 0.5' /%3E%3Cstop offset='100%25' style='stop-color: %2371aca0%3B stop-opacity:0' /%3E%3C/radialGradient%3E%3CradialGradient id='rg2' cx='100%25' cy='0%25' r='100%25' fx='100%25' fy='0%25'%3E%3Cstop offset='0%25' style='stop-color: %23efc278%3B stop-opacity: 0.5' /%3E%3Cstop offset='100%25' style='stop-color: %23efc278%3B stop-opacity:0' /%3E%3C/radialGradient%3E%3C/defs%3E%3Cpolygon points='0,0 125,0 125,100 0,100' style='fill: url(%23rg1)%3B' /%3E%3Cpolygon points='75,0 200,0 200,100 75,100' style='fill: url(%23rg2)%3B' /%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='100' viewBox='0 0 200 100' preserveAspectRatio='none'%3E%3Cdefs%3E%3CradialGradient id='rg1' cx='0%25' cy='100%25' r='100%25' fx='0%25' fy='100%25'%3E%3Cstop offset='0%25' style='stop-color: %2371aca0%3B stop-opacity: 0.5' /%3E%3Cstop offset='100%25' style='stop-color: %2371aca0%3B stop-opacity:0' /%3E%3C/radialGradient%3E%3CradialGradient id='rg2' cx='100%25' cy='100%25' r='100%25' fx='100%25' fy='100%25'%3E%3Cstop offset='0%25' style='stop-color: %23efc278%3B stop-opacity: 0.5' /%3E%3Cstop offset='100%25' style='stop-color: %23efc278%3B stop-opacity:0' /%3E%3C/radialGradient%3E%3C/defs%3E%3Cpolygon points='0,0 125,0 125,100 0,100' style='fill: url(%23rg1)%3B' /%3E%3Cpolygon points='75,0 200,0 200,100 75,100' style='fill: url(%23rg2)%3B' /%3E%3C/svg%3E");
		background-size: auto, 100% 60rem, 100% 60rem;
		background-position: top left, top left, bottom left;
		background-repeat: repeat, no-repeat, no-repeat;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

		@media screen and (max-width: 480px) {

			body {
				background-image: url("../../images/overlay.png");
				background-size: auto;
				background-position: top left;
				background-repeat: repeat;
			}

		}

/* Type */

	html {
		font-size: 14pt;
	}

		@media screen and (max-width: 1680px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 1280px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 360px) {

			html {
				font-size: 10pt;
			}

		}

	body {
		color: #7a7d86;
	}

	body, input, select, textarea {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.65;
	}

	a {
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		border-bottom: dotted 1px;
		text-decoration: none;
	}

		a:before, a strong {
			-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
			transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		}

		a:hover {
			border-bottom-color: transparent;
		}

			a:hover:before, a:hover strong {
				color: inherit;
			}

	strong, b {
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2rem 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 900;
		line-height: 1.5;
		margin: 0 0 1rem 0;
		text-transform: uppercase;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 3.25rem;
		line-height: 1.25;
		margin: 0 0 2rem 0;
	}

	h2 {
		font-size: 2.5rem;
		line-height: 1.35;
		margin: 0 0 2rem 0;
	}

	h3 {
		font-size: 1.75rem;
		margin: 0 0 1.5rem 0;
	}

	h4 {
		font-size: 1.25rem;
	}

	h5 {
		font-size: 0.9rem;
	}

	h6 {
		font-size: 0.7rem;
	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 2rem;
			margin: 0 0 1.5rem 0;
		}

		h2 {
			font-size: 1.5rem;
			margin: 0 0 1rem 0;
		}

		h3 {
			font-size: 1.25rem;
			margin: 0 0 1rem 0;
		}

		h4 {
			font-size: 1rem;
		}

	}

	@media screen and (max-width: 480px) {

		h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
			display: none;
		}

	}

	sub {
		font-size: 0.8rem;
		position: relative;
		top: 0.5rem;
	}

	sup {
		font-size: 0.8rem;
		position: relative;
		top: -0.5rem;
	}

	blockquote {
		border-left: solid 4px;
		font-style: italic;
		margin: 0 0 2rem 0;
		padding: 0.5rem 0 0.5rem 2rem;
	}

	code {
		border-radius: 0.325rem;
		border: solid 1px;
		font-family: "Courier New", monospace;
		font-size: 0.9rem;
		margin: 0 0.25rem;
		padding: 0.25rem 0.65rem;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9rem;
		margin: 0 0 2rem 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1rem 1.5rem;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: 3rem 0;
	}

		hr.major {
			margin: 5rem 0;
		}

		@media screen and (max-width: 736px) {

			hr {
				margin: 2rem 0;
			}

				hr.major {
					margin: 3rem 0;
				}

		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	input, select, textarea {
		color: #7a7d86;
	}

	a {
		color: #7a7d86;
	}

		a:hover {
			color: #6e9e64;
		}

	strong, b {
		color: #7a7d86;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #7a7d86;
	}

	blockquote {
		border-left-color: #dde1eb;
	}

	code {
		background: rgba(221, 225, 235, 0.175);
		border-color: #dde1eb;
	}

	hr {
		border-bottom-color: #dde1eb;
	}

/* Box */

	.box {
		border: solid 1px;
		border-radius: 0.325rem;
		margin-bottom: 2rem;
		padding: 1.5rem;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

	.box {
		border-color: #dde1eb;
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 3rem;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 600;
		height: 3rem;
		line-height: calc(3rem - 1px);
		padding: 0 2rem;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="submit"]:before,
		input[type="reset"]:before,
		input[type="button"]:before,
		button:before,
		.button:before {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.75rem;
		}

		input[type="submit"].next,
		input[type="reset"].next,
		input[type="button"].next,
		button.next,
		.button.next {
			text-decoration: none;
		}

			input[type="submit"].next:before,
			input[type="reset"].next:before,
			input[type="button"].next:before,
			button.next:before,
			.button.next:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="submit"].next:before,
			input[type="reset"].next:before,
			input[type="button"].next:before,
			button.next:before,
			.button.next:before {
				content: '\f178';
				float: right;
				line-height: inherit;
				margin-left: 0.75rem;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1rem 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.9rem;
			height: 2.625rem;
			line-height: calc(2.625rem - 1px);
			padding: 0 1.5rem;
		}

			input[type="submit"].small.next:before,
			input[type="reset"].small.next:before,
			input[type="button"].small.next:before,
			button.small.next:before,
			.button.small.next:before {
				margin-left: 0.5rem;
			}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.125rem;
			height: 3.5rem;
			line-height: calc(3.5rem - 1px);
			padding: 0 2rem;
			min-width: 8rem;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			opacity: 0.25;
		}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button {
		line-height: calc(3rem - 2px);
	}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small {
			line-height: calc(2.625rem - 2px);
		}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		color: #7a7d86 !important;
		box-shadow: inset 0 0 0 3px #dde1eb;
	}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			color: #dde1eb;
		}

		input[type="submit"].next:before,
		input[type="reset"].next:before,
		input[type="button"].next:before,
		button.next:before,
		.button.next:before {
			color: #dde1eb;
		}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: rgba(110, 158, 100, 0.1);
			box-shadow: inset 0 0 0 3px #6e9e64;
			color: #6e9e64 !important;
		}

			input[type="submit"]:hover:before,
			input[type="reset"]:hover:before,
			input[type="button"]:hover:before,
			button:hover:before,
			.button:hover:before {
				color: inherit;
			}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(110, 158, 100, 0.35);
			box-shadow: inset 0 0 0 3px #6e9e64;
			color: #6e9e64 !important;
		}

			input[type="submit"]:active:before,
			input[type="reset"]:active:before,
			input[type="button"]:active:before,
			button:active:before,
			.button:active:before {
				color: inherit;
			}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		button.special,
		.button.special {
			box-shadow: none;
			background-color: #6e9e64;
			color: #ffffff !important;
		}

			input[type="submit"].special:before,
			input[type="reset"].special:before,
			input[type="button"].special:before,
			button.special:before,
			.button.special:before {
				color: rgba(255, 255, 255, 0.5);
			}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			button.special:hover,
			.button.special:hover {
				background-color: #72b963;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			button.special:active,
			.button.special:active {
				background-color: #619157;
			}

/* Form */

	form {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: calc(100% + 4rem);
		margin: -2rem 0 2rem -2rem;
	}

		form > .field {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			padding: 2rem 0 0 2rem;
			width: calc(100% - 2rem);
		}

			form > .field.half {
				width: calc(50% - 1rem);
			}

			form > .field.third {
				width: calc(100%/3 - 0.66667rem);
			}

			form > .field.quarter {
				width: calc(25% - 0.5rem);
			}

		form > .actions {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			margin: 2rem 0 0 2rem;
			width: calc(100% - 4rem);
		}

		form.alt {
			display: block;
			width: 100%;
			margin: 0 0 2rem 0;
		}

			form.alt > .actions {
				margin: 0 0 2rem 0;
				width: 100%;
			}

		@media screen and (max-width: 480px) {

			form {
				width: calc(100% + 3rem);
				margin: -1.5rem 0 2rem -1.5rem;
			}

				form > .field {
					padding: 1.5rem 0 0 1.5rem;
					width: calc(100% - 1.5rem);
				}

					form > .field.half {
						width: calc(100% - 1.5rem);
					}

					form > .field.third {
						width: calc(100% - 1.5rem);
					}

					form > .field.quarter {
						width: calc(100% - 1.5rem);
					}

				form > .actions {
					margin: 1.5rem 0 0 1.5rem;
					width: calc(100% - 3rem);
				}

		}

	label {
		display: block;
		font-size: 0.9rem;
		font-weight: 600;
		margin: 0 0 1rem 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: transparent;
		border-radius: 0.325rem;
		border: solid 1px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1rem;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			content: '\f078';
			display: block;
			height: 2.75rem;
			line-height: 2.75rem;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75rem;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	select option {
		background-color: #ffffff;
		color: #7a7d86;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75rem;
	}

	textarea {
		padding: 0.75rem 1rem;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2rem;
		opacity: 0;
		width: 1rem;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			cursor: pointer;
			display: inline-block;
			font-size: 1rem;
			font-weight: 300;
			padding-left: 2.4rem;
			padding-right: 0.75rem;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				border-radius: 0.325rem;
				border: solid 1px;
				content: '';
				display: inline-block;
				height: 1.65rem;
				left: 0;
				line-height: 1.58125rem;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65rem;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			content: '\f00c';
		}

	input[type="checkbox"] + label:before {
		border-radius: 0.325rem;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		opacity: 1.0;
	}

	:-moz-placeholder {
		opacity: 1.0;
	}

	::-moz-placeholder {
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		opacity: 1.0;
	}

	label {
		color: #7a7d86;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		border-color: #dde1eb;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #6e9e64;
			box-shadow: 0 0 0 1px #6e9e64;
		}

	.select-wrapper:before {
		color: #dde1eb;
	}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
		color: #7a7d86;
	}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			background: rgba(221, 225, 235, 0.175);
			border-color: #dde1eb;
		}

	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
		background-color: #7a7d86;
		border-color: #7a7d86;
		color: #ffffff;
	}

	input[type="checkbox"]:focus + label:before,
	input[type="radio"]:focus + label:before {
		border-color: #6e9e64;
		box-shadow: 0 0 0 1px #6e9e64;
	}

	::-webkit-input-placeholder {
		color: rgba(122, 125, 134, 0.75) !important;
	}

	:-moz-placeholder {
		color: rgba(122, 125, 134, 0.75) !important;
	}

	::-moz-placeholder {
		color: rgba(122, 125, 134, 0.75) !important;
	}

	:-ms-input-placeholder {
		color: rgba(122, 125, 134, 0.75) !important;
	}

/* Icon */

	.icon {
		text-decoration: none;
		position: relative;
		border-bottom: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon.alt:before {
			-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
			transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
			display: inline-block;
			width: 3.5rem;
			height: 3.5rem;
			line-height: 3.5rem;
			border-radius: 3.5rem;
			text-align: center;
		}

		.icon.major {
			display: block;
			margin: 0 0 1.25rem 0;
		}

			.icon.major:before {
				display: inline-block;
				width: 4rem;
				height: 4rem;
				line-height: 4rem;
				border-radius: 4rem;
				font-size: 1.325rem;
			}

		@media screen and (max-width: 736px) {

			.icon.alt:before {
				width: 3rem;
				height: 3rem;
				line-height: 3rem;
				border-radius: 3rem;
			}

		}

	span.icon:before {
		cursor: default;
	}

	.icon.accent1 {
		color: #71aca0;
	}

	.icon.accent2 {
		color: #a7b58f;
	}

	.icon.accent3 {
		color: #6e9e64;
	}

	.icon.accent4 {
		color: #efc278;
	}

	.icon.accent5 {
		color: #4baf7f;
	}

	.icon.alt:before {
		box-shadow: inset 0 0 0 1px #dde1eb;
	}

	.icon.major:before {
		box-shadow: inset 0 0 0 1px #dde1eb;
	}

	a.icon.alt:hover {
		color: #6e9e64;
	}

		a.icon.alt:hover:before {
			background-color: rgba(110, 158, 100, 0.1);
			box-shadow: inset 0 0 0 1px #6e9e64;
		}

	a.icon.alt:active {
		color: #6e9e64;
	}

		a.icon.alt:active:before {
			background-color: rgba(110, 158, 100, 0.35);
			box-shadow: inset 0 0 0 1px #6e9e64;
		}

/* Image */

	.image {
		display: inline-block;
		position: relative;
		border: 0;
	}

		.image[data-position] img {
			-moz-object-fit: cover;
			-webkit-object-fit: cover;
			-ms-object-fit: cover;
			object-fit: cover;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.image[data-position="top left"] img {
			-moz-object-position: top left;
			-webkit-object-position: top left;
			-ms-object-position: top left;
			object-position: top left;
		}

		.image[data-position="top"] img {
			-moz-object-position: top;
			-webkit-object-position: top;
			-ms-object-position: top;
			object-position: top;
		}

		.image[data-position="top right"] img {
			-moz-object-position: top right;
			-webkit-object-position: top right;
			-ms-object-position: top right;
			object-position: top right;
		}

		.image[data-position="right"] img {
			-moz-object-position: right;
			-webkit-object-position: right;
			-ms-object-position: right;
			object-position: right;
		}

		.image[data-position="bottom right"] img {
			-moz-object-position: bottom right;
			-webkit-object-position: bottom right;
			-ms-object-position: bottom right;
			object-position: bottom right;
		}

		.image[data-position="bottom"] img {
			-moz-object-position: bottom;
			-webkit-object-position: bottom;
			-ms-object-position: bottom;
			object-position: bottom;
		}

		.image[data-position="bottom left"] img {
			-moz-object-position: bottom left;
			-webkit-object-position: bottom left;
			-ms-object-position: bottom left;
			object-position: bottom left;
		}

		.image[data-position="left"] img {
			-moz-object-position: left;
			-webkit-object-position: left;
			-ms-object-position: left;
			object-position: left;
		}

		.image[data-position="center"] img {
			-moz-object-position: center;
			-webkit-object-position: center;
			-ms-object-position: center;
			object-position: center;
		}

		.image[data-position="25% 25%"] img {
			-moz-object-position: 25% 25%;
			-webkit-object-position: 25% 25%;
			-ms-object-position: 25% 25%;
			object-position: 25% 25%;
		}

		.image[data-position="75% 25%"] img {
			-moz-object-position: 75% 25%;
			-webkit-object-position: 75% 25%;
			-ms-object-position: 75% 25%;
			object-position: 75% 25%;
		}

		.image[data-position="75% 75%"] img {
			-moz-object-position: 75% 75%;
			-webkit-object-position: 75% 75%;
			-ms-object-position: 75% 75%;
			object-position: 75% 75%;
		}

		.image[data-position="25% 75%"] img {
			-moz-object-position: 25% 75%;
			-webkit-object-position: 25% 75%;
			-ms-object-position: 25% 75%;
			object-position: 25% 75%;
		}

		.image img {
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 1.5rem 1rem 0;
			top: 0.25rem;
		}

		.image.right {
			float: right;
			margin: 0 0 1rem 1.5rem;
			top: 0.25rem;
		}

		.image.fit {
			display: block;
			margin: 0 0 2rem 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3rem 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

		.image.filtered {
			position: relative;
		}

			.image.filtered:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url("../../images/overlay.png"), linear-gradient(45deg, rgba(113, 172, 160, 0.25), rgba(239, 194, 120, 0.25));
			}

	a.image {
		overflow: hidden;
	}

		a.image img {
			-moz-transition: -moz-transform 0.2s ease;
			-webkit-transition: -webkit-transform 0.2s ease;
			-ms-transition: -ms-transform 0.2s ease;
			transition: transform 0.2s ease;
		}

		a.image:hover img {
			-moz-transform: scale(1.075);
			-webkit-transform: scale(1.075);
			-ms-transform: scale(1.075);
			transform: scale(1.075);
		}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2rem 0;
		padding-left: 1.25rem;
	}

		ol li {
			padding-left: 0.25rem;
		}

	ul {
		list-style: disc;
		margin: 0 0 2rem 0;
		padding-left: 1rem;
	}

		ul li {
			padding-left: 0.5rem;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px;
				padding: 0.5rem 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1rem 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 1.5rem;
				}

			@media screen and (max-width: 736px) {

				ul.icons li {
					padding: 0 0.75rem 0 0;
				}

					ul.icons li .icon:before {
						font-size: 1.25rem;
					}

			}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1rem 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5rem 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1rem 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5rem 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1rem;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1rem);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1rem;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5rem;
					width: calc(100% + 0.5rem);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5rem;
					}

	dl {
		margin: 0 0 2rem 0;
	}

		dl dt {
			display: block;
			font-weight: 600;
			margin: 0 0 1rem 0;
		}

		dl dd {
			margin-left: 2rem;
		}

	ul.alt li {
		border-top-color: #dde1eb;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		position: relative;
		margin: 0 0 1.5rem 0;
	}

	header h1 + p {
		font-size: 1.25rem;
		margin-top: -1rem;
	}

	header h2 + p {
		font-size: 1.25rem;
		margin-top: -1rem;
	}

	header h3 + p {
		font-size: 1.1rem;
		margin-top: -0.8rem;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9rem;
		margin-top: -0.6rem;
	}

	@media screen and (max-width: 736px) {

		header h1 + p {
			font-size: 1rem;
			margin-top: -0.25rem;
		}

		header h2 + p {
			font-size: 1rem;
			margin-top: -0.6rem;
		}

		header h3 + p {
			font-size: 1rem;
			margin-top: -0.6rem;
		}

		header h4 + p,
		header h5 + p,
		header h6 + p {
			font-size: 1rem;
			margin-top: -0.6rem;
		}

	}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2rem 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px;
			border-left: 0;
			border-right: 0;
		}

		table td {
			padding: 0.75rem 0.75rem;
		}

		table th {
			font-size: 0.9rem;
			font-weight: 600;
			padding: 0 0.75rem 0.75rem 0.75rem;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px;
		}

		table tfoot {
			border-top: solid 2px;
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px;
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}

	table tbody tr {
		border-color: #dde1eb;
	}

		table tbody tr:nth-child(2n + 1) {
			background-color: rgba(221, 225, 235, 0.175);
		}

	table th {
		color: #7a7d86;
	}

	table thead {
		border-bottom-color: #dde1eb;
	}

	table tfoot {
		border-top-color: #dde1eb;
	}

	table.alt tbody tr td {
		border-color: #dde1eb;
	}

/* Banner */

	.banner {
		color: #ffffff;
		padding: 12rem 6rem 10rem 6rem ;
		cursor: default;
		position: relative;
		text-align: center;
	}

		.banner input[type="submit"],
		.banner input[type="reset"],
		.banner input[type="button"],
		.banner button,
		.banner .button {
			color: #ffffff !important;
			box-shadow: inset 0 0 0 3px #ffffff;
		}

			.banner input[type="submit"].icon:before,
			.banner input[type="reset"].icon:before,
			.banner input[type="button"].icon:before,
			.banner button.icon:before,
			.banner .button.icon:before {
				color: #ffffff;
			}

			.banner input[type="submit"].next:before,
			.banner input[type="reset"].next:before,
			.banner input[type="button"].next:before,
			.banner button.next:before,
			.banner .button.next:before {
				color: #ffffff;
			}

			.banner input[type="submit"]:hover,
			.banner input[type="reset"]:hover,
			.banner input[type="button"]:hover,
			.banner button:hover,
			.banner .button:hover {
				background-color: rgba(255, 255, 255, 0.1);
				box-shadow: inset 0 0 0 3px #ffffff;
				color: #ffffff !important;
			}

				.banner input[type="submit"]:hover:before,
				.banner input[type="reset"]:hover:before,
				.banner input[type="button"]:hover:before,
				.banner button:hover:before,
				.banner .button:hover:before {
					color: inherit;
				}

			.banner input[type="submit"]:active,
			.banner input[type="reset"]:active,
			.banner input[type="button"]:active,
			.banner button:active,
			.banner .button:active {
				background-color: rgba(255, 255, 255, 0.35);
				box-shadow: inset 0 0 0 3px #ffffff;
				color: #ffffff !important;
			}

				.banner input[type="submit"]:active:before,
				.banner input[type="reset"]:active:before,
				.banner input[type="button"]:active:before,
				.banner button:active:before,
				.banner .button:active:before {
					color: inherit;
				}

			.banner input[type="submit"].special,
			.banner input[type="reset"].special,
			.banner input[type="button"].special,
			.banner button.special,
			.banner .button.special {
				box-shadow: none;
				background-color: #ffffff;
				color: #77917b !important;
			}

				.banner input[type="submit"].special:before,
				.banner input[type="reset"].special:before,
				.banner input[type="button"].special:before,
				.banner button.special:before,
				.banner .button.special:before {
					color: rgba(119, 145, 123, 0.5);
				}

				.banner input[type="submit"].special:hover,
				.banner input[type="reset"].special:hover,
				.banner input[type="button"].special:hover,
				.banner button.special:hover,
				.banner .button.special:hover {
					background-color: white;
				}

				.banner input[type="submit"].special:active,
				.banner input[type="reset"].special:active,
				.banner input[type="button"].special:active,
				.banner button.special:active,
				.banner .button.special:active {
					background-color: #f3f2f2;
				}

		.banner input, .banner select, .banner textarea {
			color: #ffffff;
		}

		.banner a {
			color: #ffffff;
		}

			.banner a:hover {
				color: #ffffff;
			}

		.banner strong, .banner b {
			color: #ffffff;
		}

		.banner h1, .banner h2, .banner h3, .banner h4, .banner h5, .banner h6 {
			color: #ffffff;
		}

		.banner blockquote {
			border-left-color: rgba(255, 255, 255, 0.35);
		}

		.banner code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.35);
		}

		.banner hr {
			border-bottom-color: rgba(255, 255, 255, 0.35);
		}

		.banner .image {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			z-index: -1;
		}

			.banner .image:before {
				-moz-transition: opacity 1.3125s ease-in-out;
				-webkit-transition: opacity 1.3125s ease-in-out;
				-ms-transition: opacity 1.3125s ease-in-out;
				transition: opacity 1.3125s ease-in-out;
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url("../../images/overlay.png"), url("../../images/overlay.png"), linear-gradient(45deg, #71aca0, #efc278);
				opacity: 0.7;
				z-index: 1;
			}

			.banner .image:after {
				-moz-transition: opacity 1.3125s ease-in-out;
				-webkit-transition: opacity 1.3125s ease-in-out;
				-ms-transition: opacity 1.3125s ease-in-out;
				transition: opacity 1.3125s ease-in-out;
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url("../../images/overlay.png"), url("../../images/overlay.png"), linear-gradient(45deg, #5c5c5c, #92856f);
				opacity: 0;
				z-index: 1;
			}

			.banner .image img {
				-moz-transition: -moz-transform 2.1875s ease-out, -moz-filter 2.1875s ease-out;
				-webkit-transition: -webkit-transform 2.1875s ease-out, -webkit-filter 2.1875s ease-out;
				-ms-transition: -ms-transform 2.1875s ease-out, -ms-filter 2.1875s ease-out;
				transition: transform 2.1875s ease-out, filter 2.1875s ease-out;
			}

		.banner h1, .banner .actions {
			-moz-transition: opacity 0.875s ease-out, -moz-transform 0.875s ease-out, -moz-filter 0.875s ease-out;
			-webkit-transition: opacity 0.875s ease-out, -webkit-transform 0.875s ease-out, -webkit-filter 0.875s ease-out;
			-ms-transition: opacity 0.875s ease-out, -ms-transform 0.875s ease-out, -ms-filter 0.875s ease-out;
			transition: opacity 0.875s ease-out, transform 0.875s ease-out, filter 0.875s ease-out;
			-moz-transition-delay: 1.99609s;
			-webkit-transition-delay: 1.99609s;
			-ms-transition-delay: 1.99609s;
			transition-delay: 1.99609s;
		}

		body.is-loading .banner .image:before {
			opacity: 1;
		}

		body.is-loading .banner .image:after {
			opacity: 1;
		}

		body.is-loading .banner .image img {
			-moz-filter: blur(1.5rem);
			-webkit-filter: blur(1.5rem);
			-ms-filter: blur(1.5rem);
			filter: blur(1.5rem);
			-moz-transform: translateX(-1.5rem) scale(1.125);
			-webkit-transform: translateX(-1.5rem) scale(1.125);
			-ms-transform: translateX(-1.5rem) scale(1.125);
			transform: translateX(-1.5rem) scale(1.125);
		}

		body.is-loading .banner h1, body.is-loading .banner .actions {
			-moz-transform: scale(0.985);
			-webkit-transform: scale(0.985);
			-ms-transform: scale(0.985);
			transform: scale(0.985);
			-moz-filter: blur(0.1rem);
			-webkit-filter: blur(0.1rem);
			-ms-filter: blur(0.1rem);
			filter: blur(0.1rem);
			opacity: 0;
		}

		@media screen and (max-width: 1280px) {

			.banner {
				padding: 10rem 3rem 8rem 3rem ;
			}

		}

		@media screen and (max-width: 980px) {

			.banner {
				padding: 18rem 3rem 16rem 3rem ;
			}

		}

		@media screen and (max-width: 736px) {

			.banner {
				padding: 6rem 3rem 4rem 3rem ;
			}

		}

		@media screen and (max-width: 480px) {

			.banner {
				padding: 10rem 1.5rem 8rem 1.5rem ;
			}

		}

		@media screen and (max-width: 360px) {

			.banner {
				padding: 8rem 1.5rem 6rem 1.5rem ;
			}

		}

/* Features */

	.features {
		width: 100%;
		margin: 2.5rem 0;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-align-items: stretch;
		-webkit-align-items: stretch;
		-ms-align-items: stretch;
		align-items: stretch;
		text-align: center;
	}

		.features > * {
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
		}

		.features > * {
			width: 33.33333%;
		}

		.features > * {
			padding: 4rem;
			width: 33.33333%;
		}

		.features > section {
			border-style: solid;
			border-left-width: 1px;
			border-top-width: 1px;
		}

			.features > section > :last-child {
				margin-bottom: 0;
			}

			.features > section:nth-child(3n - 2) {
				border-left-width: 0;
			}

			.features > section:nth-child(-n + 3) {
				border-top-width: 0;
			}

			.features > section h3 {
				font-size: 1.25rem;
				margin: 0 0 0.65rem 0;
			}

		@media screen and (max-width: 980px) {

			.features > * {
				width: 50%;
			}

			.features > * {
				padding: 3rem;
				width: 50%;
			}

			.features > section:nth-child(3n - 2) {
				border-left-width: 1px;
			}

			.features > section:nth-child(-n + 3) {
				border-top-width: 1px;
			}

			.features > section:nth-child(2n - 1) {
				border-left-width: 0;
			}

			.features > section:nth-child(-n + 2) {
				border-top-width: 0;
			}

		}

		@media screen and (max-width: 480px) {

			.features > * {
				width: 100%;
			}

			.features > * {
				padding: 3rem;
				width: 100%;
			}

			.features > section:nth-child(2n - 1) {
				border-left-width: 1px;
			}

			.features > section:nth-child(-n + 2) {
				border-top-width: 1px;
			}

			.features > section:nth-child(n) {
				border-left-width: 0;
			}

			.features > section:nth-child(-n + 1) {
				border-top-width: 0;
			}

		}

	.features > section {
		border-color: #dde1eb;
	}

/* Posts */

	.posts {
		width: 100%;
		margin: 0 0 2rem 0;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-align-items: stretch;
		-webkit-align-items: stretch;
		-ms-align-items: stretch;
		align-items: stretch;
		text-align: center;
	}

		.posts article .image {
			display: block;
			width: 100%;
			margin: 0 0 2rem 0;
		}

			.posts article .image img {
				width: 100%;
			}

		.posts article > :last-child {
			margin-bottom: 0;
		}

		.posts > * {
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
		}

		.posts > * {
			width: 33.33333%;
		}

		.posts > * {
			padding: 1.5rem;
			width: calc(33.33333% + 1rem);
		}

		.posts > :nth-child(-n + 3) {
			padding-top: 0;
		}

		.posts > :nth-last-child(-n + 3) {
			padding-bottom: 0;
		}

		.posts > :nth-child(3n + 1) {
			padding-left: 0;
		}

		.posts > :nth-child(3n) {
			padding-right: 0;
		}

		.posts > :nth-child(3n + 1),
		.posts > :nth-child(3n) {
			width: calc(33.33333% + -0.5rem);
		}

		@media screen and (max-width: 980px) {

			.posts {
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
			}

				.posts > * {
					width: 50%;
				}

				.posts > * {
					padding: 1.5rem;
					width: calc(33.33333% + 1rem);
				}

				.posts > :nth-child(-n + 3) {
					padding-top: 1.5rem;
				}

				.posts > :nth-last-child(-n + 3) {
					padding-bottom: 1.5rem;
				}

				.posts > :nth-child(3n + 1) {
					padding-left: 1.5rem;
				}

				.posts > :nth-child(3n) {
					padding-right: 1.5rem;
				}

				.posts > :nth-child(3n + 1),
				.posts > :nth-child(3n) {
					padding: 1.5rem;
					width: calc(50% + 1.5rem);
				}

				.posts > * {
					padding: 1.5rem;
					width: calc(50% + 1.5rem);
				}

				.posts > :nth-child(-n + 2) {
					padding-top: 0;
				}

				.posts > :nth-last-child(-n + 2) {
					padding-bottom: 0;
				}

				.posts > :nth-child(2n + 1) {
					padding-left: 0;
				}

				.posts > :nth-child(2n) {
					padding-right: 0;
				}

				.posts > :nth-child(2n + 1),
				.posts > :nth-child(2n) {
					width: calc(50% + 0rem);
				}

				.posts article:nth-child(3n):last-child {
					padding-right: 0;
				}

		}

		@media screen and (max-width: 736px) {

			.posts > * {
				width: 50%;
			}

			.posts > * {
				padding: 1rem;
				width: calc(33.33333% + 0.66667rem);
			}

			.posts > :nth-child(-n + 3) {
				padding-top: 1rem;
			}

			.posts > :nth-last-child(-n + 3) {
				padding-bottom: 1rem;
			}

			.posts > :nth-child(3n + 1) {
				padding-left: 1rem;
			}

			.posts > :nth-child(3n) {
				padding-right: 1rem;
			}

			.posts > :nth-child(3n + 1),
			.posts > :nth-child(3n) {
				padding: 1rem;
				width: calc(50% + 1rem);
			}

			.posts > * {
				padding: 1rem;
				width: calc(50% + 1rem);
			}

			.posts > :nth-child(-n + 2) {
				padding-top: 1rem;
			}

			.posts > :nth-last-child(-n + 2) {
				padding-bottom: 1rem;
			}

			.posts > :nth-child(2n + 1) {
				padding-left: 1rem;
			}

			.posts > :nth-child(2n) {
				padding-right: 1rem;
			}

			.posts > :nth-child(2n + 1),
			.posts > :nth-child(2n) {
				padding: 1rem;
				width: calc(50% + 1rem);
			}

			.posts > * {
				padding: 1rem;
				width: calc(50% + 1rem);
			}

			.posts > :nth-child(-n + 2) {
				padding-top: 0;
			}

			.posts > :nth-last-child(-n + 2) {
				padding-bottom: 0;
			}

			.posts > :nth-child(2n + 1) {
				padding-left: 0;
			}

			.posts > :nth-child(2n) {
				padding-right: 0;
			}

			.posts > :nth-child(2n + 1),
			.posts > :nth-child(2n) {
				width: calc(50% + 0rem);
			}

		}

		@media screen and (max-width: 480px) {

			.posts > * {
				width: 100%;
			}

			.posts > * {
				padding: 1.5rem;
				width: calc(33.33333% + 1rem);
			}

			.posts > :nth-child(-n + 3) {
				padding-top: 1.5rem;
			}

			.posts > :nth-last-child(-n + 3) {
				padding-bottom: 1.5rem;
			}

			.posts > :nth-child(3n + 1) {
				padding-left: 1.5rem;
			}

			.posts > :nth-child(3n) {
				padding-right: 1.5rem;
			}

			.posts > :nth-child(3n + 1),
			.posts > :nth-child(3n) {
				padding: 1.5rem;
				width: calc(100% + 3rem);
			}

			.posts > * {
				padding: 1.5rem;
				width: calc(50% + 1.5rem);
			}

			.posts > :nth-child(-n + 2) {
				padding-top: 1.5rem;
			}

			.posts > :nth-last-child(-n + 2) {
				padding-bottom: 1.5rem;
			}

			.posts > :nth-child(2n + 1) {
				padding-left: 1.5rem;
			}

			.posts > :nth-child(2n) {
				padding-right: 1.5rem;
			}

			.posts > :nth-child(2n + 1),
			.posts > :nth-child(2n) {
				padding: 1.5rem;
				width: calc(100% + 3rem);
			}

			.posts > * {
				padding: 1.5rem;
				width: calc(100% + 3rem);
			}

			.posts > :nth-child(-n + 1) {
				padding-top: 0;
			}

			.posts > :nth-last-child(-n + 1) {
				padding-bottom: 0;
			}

			.posts > :nth-child(1n + 1) {
				padding-left: 0;
			}

			.posts > :nth-child(1n) {
				padding-right: 0;
			}

			.posts > :nth-child(1n + 1),
			.posts > :nth-child(1n) {
				width: calc(100% + 1.5rem);
			}

		}

		@media screen and (max-width: 480px) {

			.posts article .image {
				max-width: 100%;
			}

		}

/* Main */

	.main {
		position: relative;
		background-color: #ffffff;
		overflow-x: hidden;
	}

		.main > * {
			position: relative;
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			max-width: 100%;
		}

			.main > *:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: -100vw;
				width: 200vw;
				height: 1px;
				background: #dde1eb;
			}

			.main > *.small {
				width: 48rem;
			}

			.main > *.medium {
				width: 60rem;
			}

		.main > :first-child:before {
			display: none;
		}

		.main > header {
			padding: 7rem 6rem 5rem 6rem ;
			text-align: center;
			margin: 0 auto;
		}

			.main > header > :first-child {
				position: relative;
				padding-bottom: 2rem;
				margin-bottom: 3rem;
			}

				.main > header > :first-child:after {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 20rem;
					height: 3px;
					margin-left: -10rem;
					background-image: linear-gradient(90deg, #71aca0, #efc278);
				}

		.main > .image {
			display: block;
			position: relative;
			width: 100%;
			height: 30rem;
		}

			.main > .image:before {
				display: none;
			}

			.main > .image img {
				width: 100%;
			}

		.main > .inner {
			padding: 6rem 6rem 4rem 6rem ;
			margin-left: auto;
			margin-right: auto;
		}

			.main > .inner.special {
				text-align: center;
			}

		.main > footer {
			padding: 3rem 6rem 1rem 6rem ;
			text-align: center;
		}

		.main.style2 {
			color: #ffffff;
			background-image: url("../../images/overlay.png"), linear-gradient(45deg, #5eae90, #9db97c);
		}

			.main.style2 input, .main.style2 select, .main.style2 textarea {
				color: #ffffff;
			}

			.main.style2 a {
				color: #ffffff;
			}

				.main.style2 a:hover {
					color: #ffffff;
				}

			.main.style2 strong, .main.style2 b {
				color: #ffffff;
			}

			.main.style2 h1, .main.style2 h2, .main.style2 h3, .main.style2 h4, .main.style2 h5, .main.style2 h6 {
				color: #ffffff;
			}

			.main.style2 blockquote {
				border-left-color: rgba(255, 255, 255, 0.35);
			}

			.main.style2 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.35);
			}

			.main.style2 hr {
				border-bottom-color: rgba(255, 255, 255, 0.35);
			}

			.main.style2 .box {
				border-color: rgba(255, 255, 255, 0.35);
			}

			.main.style2 input[type="submit"],
			.main.style2 input[type="reset"],
			.main.style2 input[type="button"],
			.main.style2 button,
			.main.style2 .button {
				color: #ffffff !important;
				box-shadow: inset 0 0 0 3px #ffffff;
			}

				.main.style2 input[type="submit"].icon:before,
				.main.style2 input[type="reset"].icon:before,
				.main.style2 input[type="button"].icon:before,
				.main.style2 button.icon:before,
				.main.style2 .button.icon:before {
					color: #ffffff;
				}

				.main.style2 input[type="submit"].next:before,
				.main.style2 input[type="reset"].next:before,
				.main.style2 input[type="button"].next:before,
				.main.style2 button.next:before,
				.main.style2 .button.next:before {
					color: #ffffff;
				}

				.main.style2 input[type="submit"]:hover,
				.main.style2 input[type="reset"]:hover,
				.main.style2 input[type="button"]:hover,
				.main.style2 button:hover,
				.main.style2 .button:hover {
					background-color: rgba(255, 255, 255, 0.1);
					box-shadow: inset 0 0 0 3px #ffffff;
					color: #ffffff !important;
				}

					.main.style2 input[type="submit"]:hover:before,
					.main.style2 input[type="reset"]:hover:before,
					.main.style2 input[type="button"]:hover:before,
					.main.style2 button:hover:before,
					.main.style2 .button:hover:before {
						color: inherit;
					}

				.main.style2 input[type="submit"]:active,
				.main.style2 input[type="reset"]:active,
				.main.style2 input[type="button"]:active,
				.main.style2 button:active,
				.main.style2 .button:active {
					background-color: rgba(255, 255, 255, 0.35);
					box-shadow: inset 0 0 0 3px #ffffff;
					color: #ffffff !important;
				}

					.main.style2 input[type="submit"]:active:before,
					.main.style2 input[type="reset"]:active:before,
					.main.style2 input[type="button"]:active:before,
					.main.style2 button:active:before,
					.main.style2 .button:active:before {
						color: inherit;
					}

				.main.style2 input[type="submit"].special,
				.main.style2 input[type="reset"].special,
				.main.style2 input[type="button"].special,
				.main.style2 button.special,
				.main.style2 .button.special {
					box-shadow: none;
					background-color: #ffffff;
					color: #77917b !important;
				}

					.main.style2 input[type="submit"].special:before,
					.main.style2 input[type="reset"].special:before,
					.main.style2 input[type="button"].special:before,
					.main.style2 button.special:before,
					.main.style2 .button.special:before {
						color: rgba(119, 145, 123, 0.5);
					}

					.main.style2 input[type="submit"].special:hover,
					.main.style2 input[type="reset"].special:hover,
					.main.style2 input[type="button"].special:hover,
					.main.style2 button.special:hover,
					.main.style2 .button.special:hover {
						background-color: white;
					}

					.main.style2 input[type="submit"].special:active,
					.main.style2 input[type="reset"].special:active,
					.main.style2 input[type="button"].special:active,
					.main.style2 button.special:active,
					.main.style2 .button.special:active {
						background-color: #f3f2f2;
					}

			.main.style2 label {
				color: #ffffff;
			}

			.main.style2 input[type="text"],
			.main.style2 input[type="password"],
			.main.style2 input[type="email"],
			.main.style2 select,
			.main.style2 textarea {
				border-color: rgba(255, 255, 255, 0.35);
			}

				.main.style2 input[type="text"]:focus,
				.main.style2 input[type="password"]:focus,
				.main.style2 input[type="email"]:focus,
				.main.style2 select:focus,
				.main.style2 textarea:focus {
					border-color: #ffffff;
					box-shadow: 0 0 0 1px #ffffff;
				}

			.main.style2 .select-wrapper:before {
				color: rgba(255, 255, 255, 0.35);
			}

			.main.style2 input[type="checkbox"] + label,
			.main.style2 input[type="radio"] + label {
				color: #ffffff;
			}

				.main.style2 input[type="checkbox"] + label:before,
				.main.style2 input[type="radio"] + label:before {
					background: rgba(255, 255, 255, 0.075);
					border-color: rgba(255, 255, 255, 0.35);
				}

			.main.style2 input[type="checkbox"]:checked + label:before,
			.main.style2 input[type="radio"]:checked + label:before {
				background-color: #ffffff;
				border-color: #ffffff;
				color: #77917b;
			}

			.main.style2 input[type="checkbox"]:focus + label:before,
			.main.style2 input[type="radio"]:focus + label:before {
				border-color: #ffffff;
				box-shadow: 0 0 0 1px #ffffff;
			}

			.main.style2 ::-webkit-input-placeholder {
				color: rgba(255, 255, 255, 0.75) !important;
			}

			.main.style2 :-moz-placeholder {
				color: rgba(255, 255, 255, 0.75) !important;
			}

			.main.style2 ::-moz-placeholder {
				color: rgba(255, 255, 255, 0.75) !important;
			}

			.main.style2 :-ms-input-placeholder {
				color: rgba(255, 255, 255, 0.75) !important;
			}

			.main.style2 .icon.accent1 {
				color: #91bfb6;
			}

			.main.style2 .icon.accent2 {
				color: #bfc9ae;
			}

			.main.style2 .icon.accent3 {
				color: #8bb283;
			}

			.main.style2 .icon.accent4 {
				color: #f4d7a6;
			}

			.main.style2 .icon.accent5 {
				color: #6dc098;
			}

			.main.style2 .icon.alt:before {
				box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
			}

			.main.style2 .icon.major:before {
				box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
			}

			.main.style2 a.icon.alt:hover {
				color: #ffffff;
			}

				.main.style2 a.icon.alt:hover:before {
					background-color: rgba(255, 255, 255, 0.1);
					box-shadow: inset 0 0 0 1px #ffffff;
				}

			.main.style2 a.icon.alt:active {
				color: #ffffff;
			}

				.main.style2 a.icon.alt:active:before {
					background-color: rgba(255, 255, 255, 0.35);
					box-shadow: inset 0 0 0 1px #ffffff;
				}

			.main.style2 ul.alt li {
				border-top-color: rgba(255, 255, 255, 0.35);
			}

			.main.style2 table tbody tr {
				border-color: rgba(255, 255, 255, 0.35);
			}

				.main.style2 table tbody tr:nth-child(2n + 1) {
					background-color: rgba(255, 255, 255, 0.075);
				}

			.main.style2 table th {
				color: #ffffff;
			}

			.main.style2 table thead {
				border-bottom-color: rgba(255, 255, 255, 0.35);
			}

			.main.style2 table tfoot {
				border-top-color: rgba(255, 255, 255, 0.35);
			}

			.main.style2 table.alt tbody tr td {
				border-color: rgba(255, 255, 255, 0.35);
			}

			.main.style2 .features > section {
				border-color: rgba(255, 255, 255, 0.35);
			}

			.main.style2 > *:before {
				background: rgba(255, 255, 255, 0.35);
			}

			.main.style2 > header > :first-child:after {
				background-image: linear-gradient(90deg, #91bfb6, #f4d7a6);
			}

		@media screen and (max-width: 1280px) {

			.main > header {
				padding: 5rem 3rem 3rem 3rem ;
			}

			.main > .image {
				height: 25rem;
			}

			.main > .inner {
				padding: 3rem 3rem 1rem 3rem ;
			}

			.main > footer {
				padding: 3rem 3rem 1rem 3rem ;
			}

		}

		@media screen and (max-width: 980px) {

			.main > *.small {
				width: 42rem;
			}

			.main > .image {
				height: 22.5rem;
			}

		}

		@media screen and (max-width: 736px) {

			.main > header {
				padding: 3rem 2rem 1rem 2rem ;
			}

				.main > header > :first-child {
					padding-bottom: 1.5rem;
					margin-bottom: 1.75rem;
				}

					.main > header > :first-child:after {
						width: 10rem;
						margin-left: -5rem;
					}

			.main > .image {
				height: 15rem;
			}

			.main > .inner {
				padding: 2rem 2rem 0.1rem 2rem ;
			}

			.main > footer {
				padding: 2rem 2rem 0.1rem 2rem ;
			}

		}

		@media screen and (max-width: 480px) {

			.main > header {
				padding: 3rem 1.5rem 1rem 1.5rem ;
			}

			.main > .inner {
				padding: 2rem 1.5rem 0.1rem 1.5rem ;
			}

			.main > footer {
				padding: 2rem 1.5rem 0.1rem 1.5rem ;
			}

		}

/* Header */

	body {
		padding-top: 4.5rem;
	}

		@media screen and (max-width: 736px) {

			body {
				padding-top: 44px;
			}

		}

	#header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 4.5rem;
		line-height: 4.5rem;
		background-color: #ffffff;
		box-shadow: 0 0 0.5rem 0 rgba(161, 177, 204, 0.325);
		cursor: default;
		z-index: 10000;
	}

		#header a {
			display: block;
			height: inherit;
			line-height: inherit;
			border-bottom: 0;
		}

			#header a:hover {
				color: #6e9e64;
			}

		#header > .logo {
			position: absolute;
			top: 0;
			left: 2rem;
			text-transform: uppercase;
		}

			#header > .logo strong {
				font-weight: 900;
			}

		#header > nav {
			position: absolute;
			top: 0;
			right: 2rem;
		}

			#header > nav > ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}

				#header > nav > ul > li {
					position: relative;
					display: inline-block;
					margin: 0 0.75rem;
					padding: 0;
				}

					#header > nav > ul > li > a {
						padding: 0 0.75rem;
						font-weight: 600;
						overflow: hidden;
					}

						#header > nav > ul > li > a.icon:before {
							float: right;
							margin-left: 0.75rem;
							line-height: inherit;
							color: rgba(122, 125, 134, 0.75);
						}

						#header > nav > ul > li > a.icon:hover:before {
							color: inherit;
						}

					#header > nav > ul > li > ul {
						display: none;
					}

					#header > nav > ul > li.current:after {
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 3px;
						background-image: linear-gradient(90deg, #71aca0, #efc278);
					}

					#header > nav > ul > li.current > a {
						color: #6e9e64;
					}

					#header > nav > ul > li.active > a {
						color: #6e9e64;
					}

			.dropotron {
				background-color: #ffffff;
				border-radius: 0.325rem;
				box-shadow: 0 0.075rem 0.75rem 0 rgba(161, 177, 204, 0.325);
				list-style-type: none;
				margin: -0.5rem 0 0 1px;
				min-width: 10rem;
				padding: 0.5rem 0;
			}

				.dropotron.level-0 {
					margin-top: 1.125rem;
					margin-left: 0;
				}

					.dropotron.level-0:before {
						-moz-transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
						background-color: #ffffff;
						box-shadow: -2px -2px 3px -1px rgba(0, 0, 0, 0.1);
						content: '';
						position: absolute;
						top: -0.375rem;
						right: 2rem;
						width: 0.75rem;
						height: 0.75rem;
					}

				.dropotron li {
					border-top: solid 1px #dde1eb;
					padding: 0;
					position: relative;
				}

					.dropotron li:first-child {
						border-top: none;
					}

					.dropotron li.active > a {
						color: #6e9e64;
					}

				.dropotron a {
					color: #7a7d86;
					padding: 0.5rem 1rem;
					text-decoration: none !important;
					border: 0;
				}

					.dropotron a:active, .dropotron a:hover, .dropotron a:focus {
						color: #6e9e64;
					}

		#header > .navPanelToggle {
			-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			text-decoration: none;
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			height: inherit;
			line-height: inherit;
			padding: 0 2rem;
			text-transform: uppercase;
		}

			#header > .navPanelToggle:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#header > .navPanelToggle:before {
				content: '\f0c9';
				margin: 0 0 0 0.625rem;
				float: right;
			}

		@media screen and (max-width: 980px) {

			#header > nav {
				display: none;
			}

			#header > .navPanelToggle {
				display: block;
			}

		}

		@media screen and (max-width: 736px) {

			#header {
				height: 44px;
				line-height: 44px;
			}

				#header > .logo {
					left: 1rem;
				}

				#header > .navPanelToggle {
					padding: 0 1rem;
				}

		}

/* Footer */

	#footer {
		color: rgba(122, 125, 134, 0.75);
		margin: -2rem 0 6rem 0;
		text-align: center;
	}

		@media screen and (max-width: 1680px) {

			#footer {
				margin: 0 0 3.5rem 0;
			}

		}

		@media screen and (max-width: 480px) {

			#footer {
				margin: 2rem 0;
			}

		}

/* Wrapper */

	#wrapper {
		width: 80rem;
		max-width: calc(100% - 7rem);
		margin: 0 auto;
		padding: 6rem 0;
	}

		#wrapper > * {
			margin: 3.5rem 0 0 0;
			box-shadow: 0 1rem 4rem 0.125rem rgba(161, 177, 204, 0.325);
		}

		#wrapper > :first-child {
			margin-top: 0;
		}

		@media screen and (max-width: 1680px) {

			#wrapper {
				padding: 3.5rem 0;
			}

		}

		@media screen and (max-width: 1280px) {

			#wrapper {
				max-width: calc(100% - 5rem);
				padding: 2.5rem 0;
			}

				#wrapper > * {
					margin: 2.5rem 0 0 0;
				}

		}

		@media screen and (max-width: 736px) {

			#wrapper {
				max-width: calc(100% - 4rem);
				padding: 2rem 0;
			}

				#wrapper > * {
					margin: 2rem 0 0 0;
				}

		}

		@media screen and (max-width: 480px) {

			#wrapper {
				max-width: 100%;
				padding: 0;
			}

				#wrapper > * {
					margin: 1.5rem 0 0 0;
					box-shadow: none;
				}

		}

/* NavPanel */

	#navPanel {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		width: 20em;
		max-width: 80%;
		height: 100%;
		background: #ffffff;
		box-shadow: none;
		overflow-y: auto;
		visibility: hidden;
		z-index: 10002;
	}

		#navPanel.visible {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
			visibility: visible;
		}

		#navPanel nav {
			padding: 3em 2em;
		}

		#navPanel .link {
			-moz-transition: color 0.2s;
			-webkit-transition: color 0.2s;
			-ms-transition: color 0.2s;
			transition: color 0.2s;
			display: block;
			border-top: solid 1px #dde1eb;
			color: inherit !important;
			padding: 0.75em 0;
			text-decoration: none;
			border-bottom: 0;
		}

			#navPanel .link:first-child {
				border-top: 0;
			}

			#navPanel .link.depth-0 {
				color: #7a7d86 !important;
				font-weight: 600;
			}

			#navPanel .link:active, #navPanel .link:focus, #navPanel .link:hover {
				color: #6e9e64 !important;
			}

			#navPanel .link .indent-1 {
				display: inline-block;
				width: 1.25em;
			}

			#navPanel .link .indent-2 {
				display: inline-block;
				width: 2.5em;
			}

		#navPanel .close {
			text-decoration: none;
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			-webkit-tap-highlight-color: transparent;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 7em;
			height: 3.25em;
			line-height: 3.25em;
			border: 0;
			color: #dde1eb;
			cursor: pointer;
			padding-right: 1.25em;
			text-align: right;
			vertical-align: middle;
		}

			#navPanel .close:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#navPanel .close:before {
				content: '\f00d';
				font-size: 1.25em;
			}

			#navPanel .close:hover {
				color: #6e9e64;
			}

			@media screen and (max-width: 736px) {

				#navPanel .close {
					height: 4em;
					line-height: 4em;
				}

			}

		@media screen and (max-width: 980px) {

			#navPanel {
				display: block;
			}

		}

		@media screen and (max-width: 736px) {

			#navPanel nav {
				padding: 2.5em 1.75em;
			}

		}

	.fx-type .char {
		-moz-transition: all 0.125s ease-in-out;
		-webkit-transition: all 0.125s ease-in-out;
		-ms-transition: all 0.125s ease-in-out;
		transition: all 0.125s ease-in-out;
		opacity: 1;
	}

		.fx-type .char.inactive {
			opacity: 0.25;
			font-weight: 300;
		}

	.fx-type .cursor {
		opacity: 0.25;
		font-weight: 300;
		display: inline-block;
		width: 2rem;
		-moz-transform: scale(1.125);
		-webkit-transform: scale(1.125);
		-ms-transform: scale(1.125);
		transform: scale(1.125);
	}

	.statistics .datapoint {
		text-align: center;
	}
	.statistics .datapoint p {
		font-size: 1.75rem;
	}

